<a href="https://colab.research.google.com/github/scmaverick/DataScienceTEC/blob/master/Intro_to_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to R
## Business Intelligence and Data Mining
## Sergio Castillo

In [10]:
x= 100
x
#setwd("/path/to/cwd")
getwd()
library()  #list installed packages
search();  #list imported packages
data()  #datasets available

[1] 100

[1] "/content"

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

In [0]:
data("AirPassengers")
library(ggplot2)  #import package

In [14]:
install.packages("purrr", dependencies = TRUE)  #install packages
library(purrr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [50]:
vec = c(1,2,3,4)  #define new vector
vec[1]  #vectors always start in 1, unlike the rest of languages
vec
range = c(30:50)
range
v2 = c(20, 30, 40, 50)
vec + v2
v2 - vec
v2 / vec
v2 %% vec  #residue
v2 %/% vec  #int division
2**3
2 == 4 #equals
3 != 5 #not equal
vec > v2  #applies the operation value by value comparting both vectors

[1] 1

[1] 1 2 3 4

 [1] 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

[1] 21 32 43 54

[1] 19 28 37 46

[1] 20.00000 15.00000 13.33333 12.50000

[1] 0 0 1 2

[1] 20 15 13 12

[1] 8

[1] FALSE

[1] TRUE

[1] FALSE FALSE FALSE FALSE

In [51]:
range[3:10]
range[c(2, 5, 10, 16, 20)]  #get separate indices
range[-3] #return the entire vectore except position 3

[1] 32 33 34 35 36 37 38 39

[1] 31 34 39 45 49

 [1] 30 31 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [52]:
length(range)
any(range %% 2 == 0)  #return true if at least 1 value in the vector matches the condition
any(range > 50)
all(range > 20)  #return true if ALL values match the condition

[1] 21

[1] TRUE

[1] FALSE

[1] TRUE

In [53]:
all(range > 1 & rango <= 50)  #and
all(range > 1 | rango <= 50)  #or
range[range > 40]
subset(range, range > 40)  #a function form of the above
which(range > 40)  #returns indices instead of values

[1] TRUE

[1] TRUE

 [1] 41 42 43 44 45 46 47 48 49 50

 [1] 41 42 43 44 45 46 47 48 49 50

 [1] 12 13 14 15 16 17 18 19 20 21

In [56]:
#FIRST upload file to colab using left option for files
#do not create factor tables for string values (to limit values only to those already in the file), load regular strings
data = read.csv("CoffeeChain.csv", sep=";", header = TRUE, stringsAsFactors = FALSE)
#View(data)
str(data)
head(data)
tail(data)
table(data$Market)  #show a summary of the Market column on the dataframe, usually only for categorical columns
attributes(data)$names #show names of columns
colnames(data)
class(data)  #show the object type
class(vec)
data[1:5]  #dataframes work just like vectors, get columns by default
data[, 1:5]  #get columns
data[1:5,]  #all columns but only first 5 rows
datat[c(1,2,3), c(4,5,6)] #get rows 1:3 columns 4:6
data[1, 5] #first row, fith column
data[c("Market", "State", "Iventory")]  #columns by name

'data.frame':	4248 obs. of  13 variables:
 $ Date          : chr  "12/1/13 00:00" "12/1/13 00:00" "11/1/13 00:00" "10/1/13 00:00" ...
 $ Market        : chr  "South" "South" "South" "South" ...
 $ Market.Size   : chr  "Small Market" "Small Market" "Small Market" "Small Market" ...
 $ Product       : chr  "Colombian" "Chamomile" "Chamomile" "Decaf Irish Cream" ...
 $ Product.Line  : chr  "Beans" "Leaves" "Leaves" "Beans" ...
 $ Product.Type  : chr  "Coffee" "Herbal Tea" "Herbal Tea" "Coffee" ...
 $ State         : chr  "Louisiana" "Louisiana" "Louisiana" "Louisiana" ...
 $ Type          : chr  "Regular" "Decaf" "Decaf" "Decaf" ...
 $ Inventory     : int  845 540 552 851 599 864 613 599 351 -113 ...
 $ Marketing     : int  13 31 33 13 25 17 28 15 14 58 ...
 $ Profit        : int  68 114 126 67 37 87 43 48 61 4 ...
 $ Sales         : int  128 228 246 126 160 153 167 110 129 153 ...
 $ Total.Expenses: int  25 43 45 25 58 26 58 26 35 81 ...

  Date          Market Market.Size  Product           Product.Line Product.Type
1 12/1/13 00:00 South  Small Market Colombian         Beans        Coffee
2 12/1/13 00:00 South  Small Market Chamomile         Leaves       Herbal Tea
3 11/1/13 00:00 South  Small Market Chamomile         Leaves       Herbal Tea
4 10/1/13 00:00 South  Small Market Decaf Irish Cream Beans        Coffee
5 9/1/13 00:00  South  Small Market Lemon             Leaves       Herbal Tea
6 8/1/13 00:00  South  Small Market Decaf Irish Cream Beans        Coffee
  State     Type    Inventory Marketing Profit Sales Total.Expenses
1 Louisiana Regular 845       13         68    128   25
2 Louisiana Decaf   540       31        114    228   43
3 Louisiana Decaf   552       33        126    246   45
4 Louisiana Decaf   851       13         67    126   25
5 Louisiana Decaf   599       25         37    160   58
6 Louisiana Decaf   864       17         87    153   26

     Date         Market Market.Size  Product        Product.Line Product.Type
4243 5/1/12 00:00 East   Small Market Decaf Espresso Beans        Espresso
4244 4/1/12 00:00 East   Small Market Darjeeling     Leaves       Tea
4245 4/1/12 00:00 East   Small Market Colombian      Beans        Coffee
4246 3/1/12 00:00 East   Small Market Mint           Leaves       Herbal Tea
4247 3/1/12 00:00 East   Small Market Lemon          Leaves       Herbal Tea
4248 2/1/12 00:00 East   Small Market Decaf Espresso Beans        Espresso
     State       Type    Inventory Marketing Profit Sales Total.Expenses
4243 Connecticut Decaf   334       15         22    113   43
4244 Connecticut Regular 821       13         43    115   25
4245 Connecticut Regular 962       38        107    292   69
4246 Connecticut Decaf   949       22         46    163   43
4247 Connecticut Decaf   476       32         39    189   65
4248 Connecticut Decaf   305       18         29    130   46

Central    East   South    West
   1344     888     672    1344

 [1] "Date"           "Market"         "Market.Size"    "Product"
 [5] "Product.Line"   "Product.Type"   "State"          "Type"
 [9] "Inventory"      "Marketing"      "Profit"         "Sales"
[13] "Total.Expenses"

 [1] "Date"           "Market"         "Market.Size"    "Product"
 [5] "Product.Line"   "Product.Type"   "State"          "Type"
 [9] "Inventory"      "Marketing"      "Profit"         "Sales"
[13] "Total.Expenses"

[1] "data.frame"

[1] "numeric"

     Date          Market Market.Size  Product           Product.Line
1    12/1/13 00:00 South  Small Market Colombian         Beans
2    12/1/13 00:00 South  Small Market Chamomile         Leaves
3    11/1/13 00:00 South  Small Market Chamomile         Leaves
4    10/1/13 00:00 South  Small Market Decaf Irish Cream Beans
5    9/1/13 00:00  South  Small Market Lemon             Leaves
6    8/1/13 00:00  South  Small Market Decaf Irish Cream Beans
7    7/1/13 00:00  South  Small Market Lemon             Leaves
8    5/1/13 00:00  South  Small Market Chamomile         Leaves
9    5/1/13 00:00  South  Small Market Caffe Mocha       Beans
10   5/1/13 00:00  South  Small Market Caffe Latte       Beans
11   4/1/13 00:00  South  Small Market Caffe Latte       Beans
12   3/1/13 00:00  South  Small Market Decaf Irish Cream Beans
13   3/1/13 00:00  South  Small Market Decaf Espresso    Beans
14   2/1/13 00:00  South  Small Market Lemon             Leaves
15   2/1/13 00:00  South  Small Market Decaf Espresso    Beans
16   12/1/12 00:00 South  Small Market Lemon             Leaves
17   12/1/12 00:00 South  Small Market Caffe Mocha       Beans
18   12/1/12 00:00 South  Small Market Caffe Latte       Beans
19   10/1/12 00:00 South  Small Market Caffe Mocha       Beans
20   9/1/12 00:00  South  Small Market Decaf Espresso    Beans
21   9/1/12 00:00  South  Small Market Caffe Mocha       Beans
22   8/1/12 00:00  South  Small Market Lemon             Leaves
23   8/1/12 00:00  South  Small Market Caffe Latte       Beans
24   7/1/12 00:00  South  Small Market Caffe Latte       Beans
25   5/1/12 00:00  South  Small Market Chamomile         Leaves
26   5/1/12 00:00  South  Small Market Caffe Latte       Beans
27   4/1/12 00:00  South  Small Market Chamomile         Leaves
28   4/1/12 00:00  South  Small Market Caffe Latte       Beans
29   2/1/12 00:00  South  Small Market Decaf Espresso    Beans
30   1/1/12 00:00  South  Small Market Decaf Irish Cream Beans
⋮    ⋮             ⋮      ⋮            ⋮                 ⋮
4219 5/1/13 00:00  East   Small Market Mint              Leaves
4220 5/1/13 00:00  East   Small Market Caffe Mocha       Beans
4221 4/1/13 00:00  East   Small Market Lemon             Leaves
4222 4/1/13 00:00  East   Small Market Caffe Mocha       Beans
4223 3/1/13 00:00  East   Small Market Decaf Espresso    Beans
4224 3/1/13 00:00  East   Small Market Caffe Mocha       Beans
4225 2/1/13 00:00  East   Small Market Mint              Leaves
4226 2/1/13 00:00  East   Small Market Caffe Mocha       Beans
4227 1/1/13 00:00  East   Small Market Decaf Espresso    Beans
4228 1/1/13 00:00  East   Small Market Caffe Mocha       Beans
4229 12/1/12 00:00 East   Small Market Colombian         Beans
4230 11/1/12 00:00 East   Small Market Green Tea         Leaves
4231 11/1/12 00:00 East   Small Market Colombian         Beans
4232 11/1/12 00:00 East   Small Market Caffe Mocha       Beans
4233 10/1/12 00:00 East   Small Market Caffe Mocha       Beans
4234 9/1/12 00:00  East   Small Market Darjeeling        Leaves
4235 8/1/12 00:00  East   Small Market Decaf Espresso    Beans
4236 8/1/12 00:00  East   Small Market Darjeeling        Leaves
4237 7/1/12 00:00  East   Small Market Decaf Espresso    Beans
4238 7/1/12 00:00  East   Small Market Darjeeling        Leaves
4239 7/1/12 00:00  East   Small Market Colombian         Beans
4240 6/1/12 00:00  East   Small Market Lemon             Leaves
4241 6/1/12 00:00  East   Small Market Green Tea         Leaves
4242 6/1/12 00:00  East   Small Market Caffe Mocha       Beans
4243 5/1/12 00:00  East   Small Market Decaf Espresso    Beans
4244 4/1/12 00:00  East   Small Market Darjeeling        Leaves
4245 4/1/12 00:00  East   Small Market Colombian         Beans
4246 3/1/12 00:00  East   Small Market Mint              Leaves
4247 3/1/12 00:00  East   Small Market Lemon             Leaves
4248 2/1/12 00:00  East   Small Market Decaf Espresso    Beans

     Date          Market Market.Size  Product           Product.Line
1    12/1/13 00:00 South  Small Market Colombian         Beans
2    12/1/13 00:00 South  Small Market Chamomile         Leaves
3    11/1/13 00:00 South  Small Market Chamomile         Leaves
4    10/1/13 00:00 South  Small Market Decaf Irish Cream Beans
5    9/1/13 00:00  South  Small Market Lemon             Leaves
6    8/1/13 00:00  South  Small Market Decaf Irish Cream Beans
7    7/1/13 00:00  South  Small Market Lemon             Leaves
8    5/1/13 00:00  South  Small Market Chamomile         Leaves
9    5/1/13 00:00  South  Small Market Caffe Mocha       Beans
10   5/1/13 00:00  South  Small Market Caffe Latte       Beans
11   4/1/13 00:00  South  Small Market Caffe Latte       Beans
12   3/1/13 00:00  South  Small Market Decaf Irish Cream Beans
13   3/1/13 00:00  South  Small Market Decaf Espresso    Beans
14   2/1/13 00:00  South  Small Market Lemon             Leaves
15   2/1/13 00:00  South  Small Market Decaf Espresso    Beans
16   12/1/12 00:00 South  Small Market Lemon             Leaves
17   12/1/12 00:00 South  Small Market Caffe Mocha       Beans
18   12/1/12 00:00 South  Small Market Caffe Latte       Beans
19   10/1/12 00:00 South  Small Market Caffe Mocha       Beans
20   9/1/12 00:00  South  Small Market Decaf Espresso    Beans
21   9/1/12 00:00  South  Small Market Caffe Mocha       Beans
22   8/1/12 00:00  South  Small Market Lemon             Leaves
23   8/1/12 00:00  South  Small Market Caffe Latte       Beans
24   7/1/12 00:00  South  Small Market Caffe Latte       Beans
25   5/1/12 00:00  South  Small Market Chamomile         Leaves
26   5/1/12 00:00  South  Small Market Caffe Latte       Beans
27   4/1/12 00:00  South  Small Market Chamomile         Leaves
28   4/1/12 00:00  South  Small Market Caffe Latte       Beans
29   2/1/12 00:00  South  Small Market Decaf Espresso    Beans
30   1/1/12 00:00  South  Small Market Decaf Irish Cream Beans
⋮    ⋮             ⋮      ⋮            ⋮                 ⋮
4219 5/1/13 00:00  East   Small Market Mint              Leaves
4220 5/1/13 00:00  East   Small Market Caffe Mocha       Beans
4221 4/1/13 00:00  East   Small Market Lemon             Leaves
4222 4/1/13 00:00  East   Small Market Caffe Mocha       Beans
4223 3/1/13 00:00  East   Small Market Decaf Espresso    Beans
4224 3/1/13 00:00  East   Small Market Caffe Mocha       Beans
4225 2/1/13 00:00  East   Small Market Mint              Leaves
4226 2/1/13 00:00  East   Small Market Caffe Mocha       Beans
4227 1/1/13 00:00  East   Small Market Decaf Espresso    Beans
4228 1/1/13 00:00  East   Small Market Caffe Mocha       Beans
4229 12/1/12 00:00 East   Small Market Colombian         Beans
4230 11/1/12 00:00 East   Small Market Green Tea         Leaves
4231 11/1/12 00:00 East   Small Market Colombian         Beans
4232 11/1/12 00:00 East   Small Market Caffe Mocha       Beans
4233 10/1/12 00:00 East   Small Market Caffe Mocha       Beans
4234 9/1/12 00:00  East   Small Market Darjeeling        Leaves
4235 8/1/12 00:00  East   Small Market Decaf Espresso    Beans
4236 8/1/12 00:00  East   Small Market Darjeeling        Leaves
4237 7/1/12 00:00  East   Small Market Decaf Espresso    Beans
4238 7/1/12 00:00  East   Small Market Darjeeling        Leaves
4239 7/1/12 00:00  East   Small Market Colombian         Beans
4240 6/1/12 00:00  East   Small Market Lemon             Leaves
4241 6/1/12 00:00  East   Small Market Green Tea         Leaves
4242 6/1/12 00:00  East   Small Market Caffe Mocha       Beans
4243 5/1/12 00:00  East   Small Market Decaf Espresso    Beans
4244 4/1/12 00:00  East   Small Market Darjeeling        Leaves
4245 4/1/12 00:00  East   Small Market Colombian         Beans
4246 3/1/12 00:00  East   Small Market Mint              Leaves
4247 3/1/12 00:00  East   Small Market Lemon             Leaves
4248 2/1/12 00:00  East   Small Market Decaf Espresso    Beans

  Date          Market Market.Size  Product           Product.Line Product.Type
1 12/1/13 00:00 South  Small Market Colombian         Beans        Coffee
2 12/1/13 00:00 South  Small Market Chamomile         Leaves       Herbal Tea
3 11/1/13 00:00 South  Small Market Chamomile         Leaves       Herbal Tea
4 10/1/13 00:00 South  Small Market Decaf Irish Cream Beans        Coffee
5 9/1/13 00:00  South  Small Market Lemon             Leaves       Herbal Tea
  State     Type    Inventory Marketing Profit Sales Total.Expenses
1 Louisiana Regular 845       13         68    128   25
2 Louisiana Decaf   540       31        114    228   43
3 Louisiana Decaf   552       33        126    246   45
4 Louisiana Decaf   851       13         67    126   25
5 Louisiana Decaf   599       25         37    160   58

ERROR: ignored

In [70]:
subset = data[1:5, c("Market", "State", "Inventory")]
subset
#Add a new row
subset = rbind(subset, data.frame("Market"="North", "State" = "NY", "Inventory"= 2500))
subset
#Add a new column (values must match number of rows)
subset = cbind(subset, Code=c(1,2,3,4,5,6))
subset

  Market State     Inventory
1 South  Louisiana 845
2 South  Louisiana 540
3 South  Louisiana 552
4 South  Louisiana 851
5 South  Louisiana 599

  Market State     Inventory
1 South  Louisiana  845
2 South  Louisiana  540
3 South  Louisiana  552
4 South  Louisiana  851
5 South  Louisiana  599
6 North  NY        2500

  Market State     Inventory Code
1 South  Louisiana  845      1
2 South  Louisiana  540      2
3 South  Louisiana  552      3
4 South  Louisiana  851      4
5 South  Louisiana  599      5
6 North  NY        2500      6

In [71]:
#Another more direct way to add a column
subset$Code2 = c(10, 11, 12, 13, 14, 15)
subset

  Market State     Inventory Code Code2
1 South  Louisiana  845      1    10
2 South  Louisiana  540      2    11
3 South  Louisiana  552      3    12
4 South  Louisiana  851      4    13
5 South  Louisiana  599      5    14
6 North  NY        2500      6    15

In [72]:
#Remove columns
subset = subset[-2]
subset

  Market Inventory Code Code2
1 South   845      1    10
2 South   540      2    11
3 South   552      3    12
4 South   851      4    13
5 South   599      5    14
6 North  2500      6    15

In [73]:
#Remove rows
subset = subset[-2,]
subset

  Market Inventory Code Code2
1 South   845      1    10
3 South   552      3    12
4 South   851      4    13
5 South   599      5    14
6 North  2500      6    15

In [76]:
subset(subset, subset$Inventory > 1000)

  Market Inventory Code Code2
6 North  2500      6    15

In [80]:
#Sort by lines
subset[order(subset$Inventory),]  #Asc
subset[order(-subset$Inventory),]  #Desc
subset[order(subset$Market, subset$Code),]  #Desc

  Market Inventory Code Code2
3 South   552      3    12
5 South   599      5    14
1 South   845      1    10
4 South   851      4    13
6 North  2500      6    15

  Market Inventory Code Code2
6 North  2500      6    15
4 South   851      4    13
1 South   845      1    10
5 South   599      5    14
3 South   552      3    12

  Market Inventory Code Code2
6 North  2500      6    15
1 South   845      1    10
3 South   552      3    12
4 South   851      4    13
5 South   599      5    14

In [0]:
write.csv(subset, "output.csv", row.names = FALSE, quote = FALSE) #no row names, no quotes

In [84]:
NA
NULL

[1] NA

NULL

In [101]:
x = c(1,2,3, NA)
x
is.na(x)
sum(is.na(x))
na.omit(x)

[1]  1  2  3 NA

[1] FALSE FALSE FALSE  TRUE

[1] 1

[1] 1 2 3
attr(,"na.action")
[1] 4
attr(,"class")
[1] "omit"

In [106]:
subset[1,2] = NA
subset
na.omit(subset)
print("Complete cases")
complete.cases(subset)
sum(complete.cases(subset))

  Market Inventory Code Code2
1 South    NA      1    10
3 South   552      3    12
4 South   851      4    13
5 South   599      5    14
6 North  2500      6    15

  Market Inventory Code Code2
3 South   552      3    12
4 South   851      4    13
5 South   599      5    14
6 North  2500      6    15

[1] "Complete cases"

[1] FALSE  TRUE  TRUE  TRUE  TRUE

[1] 4