**Curso Aprendiza Automatico**

Prof. Felipe Meza

Estudiante: Sergio Castillo <sergio.cs87@yahoo.com>

*Tarea 1 - 22 Julio 2019*


Estandarizacion y normalizacion de conjunto de datos

In [7]:
#Inicializaciones base
!pip install torch
import torch as torch
import numpy as np
import matplotlib as mpl
import sklearn as skl
import pandas as pd

Requirement already satisfied: torch in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torch) (1.16.4)

In [70]:
train = pd.read_csv('https://raw.githubusercontent.com/fmezacr/DataScienceTEC/master/Clase1/daily-min-temperatures.csv')
train.describe()

              Temp
count  3650.000000
mean     11.177753
std       4.071837
min       0.000000
25%       8.300000
50%      11.000000
75%      14.000000
max      26.300000

In [0]:
#Agregamos las nuevas columnas para los valores normales y estandares
train['norm_manual'] = 0
train['std_manual'] = 0

In [73]:
#Procedemos a estandarizar y normalizar con calculos manuales aplicando las formulas
delta = train.Temp.max() - train.Temp.min()
train.loc[0, 'norm_manual'] = 123
train.loc[0]
for i in range(train.count().Temp):
  train.loc[i, 'norm_manual'] = (train.Temp[i] - train.Temp.min()) / delta
  train.loc[i, 'std_manual'] = (train.Temp[i] - train.Temp.mean()) / train.Temp.std()
  
print(train.iloc[0:5])

         Date  Temp  norm_manual  std_manual
0  1981-01-01  20.7     0.787072    2.338563
1  1981-01-02  17.9     0.680608    1.650913
2  1981-01-03  18.8     0.714829    1.871943
3  1981-01-04  14.6     0.555133    0.840467
4  1981-01-05  15.8     0.600760    1.135175

In [77]:
#Ahora estandarizamos y normalizamos de forma automatica usando scikit learn
from sklearn import preprocessing
x_array = np.array(train['Temp'])
print(x_array)
normalized_X = preprocessing.normalize([x_array], norm='max')
print(normalized_X)

standardized_X = preprocessing.scale(x_array)
print(standardized_X)

[20.7 17.9 18.8 ... 13.5 15.7 13. ]
[[0.78707224 0.68060837 0.7148289  ... 0.51330798 0.59695817 0.49429658]]
[2.33888328 1.65113873 1.87219948 ... 0.5703973  1.11076801 0.44758577]