**Curso Aprendiza Automatico**

Prof. Felipe Meza

Estudiante: Sergio Castillo <sergio.cs87@yahoo.com>

*Tarea 2 - 29 Julio 2019*


Micro tutorial de Pandas

Pandas es una librería de Python que facilita el manejo de sets de datos para cualquier propósito, pero es principalmente útil para el procesado de datos para Machine Learning.
Se especializa en 2 tipos de estructuras, las series y los data frames, a continuación las series.

In [0]:
#Para usar Pandas lo primero que debemos hacer es importar la librería
import pandas as pd

In [40]:
#Una serie podría entenderse como un vector de datos de cualquier tipo, con la versatilidad de que se define y es accedida como un diccionario de datos, por ejemplo:
muestras = [20, 20.5, 21.2, 22.8, 24.3, 25.7, 26.1, 27.2, 27.3, 27.5, 26.9, 25.6, 24.3]
serie = pd.Series(muestras)
print(serie)

0     20.0
1     20.5
2     21.2
3     22.8
4     24.3
5     25.7
6     26.1
7     27.2
8     27.3
9     27.5
10    26.9
11    25.6
12    24.3
dtype: float64

In [41]:
#La serie anterior representa un conjunto de medidas de temperatura tomadas cada hora desde las 6am
#Notese como Pandas asigna un índica automático a cada valor cuando no le indicamos ninguno
#Podemos tomar el mismo set y asignarle índices
serie = pd.Series(muestras, index=['06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18'])
serie

06    20.0
07    20.5
08    21.2
09    22.8
10    24.3
11    25.7
12    26.1
13    27.2
14    27.3
15    27.5
16    26.9
17    25.6
18    24.3
dtype: float64

In [42]:
#Ahora los índices de la serie corresponden a las horas de cada muestra
#Pandas automáticamente nos permite obtener ciertos datos estadísticos sobre la serie
serie.describe()

count    13.000000
mean     24.569231
std       2.663764
min      20.000000
25%      22.800000
50%      25.600000
75%      26.900000
max      27.500000
dtype: float64

In [43]:
#describe() nos indica por defecto la cantidad de datos en la serie, la media, la desviación estándar, el valor mínimo y máximo y percentiles.
#también podemos generar series de datos como un diccionario, por ejp:
serie2 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
serie2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [44]:
#De esta forma definimos el índice de cada dato adjunto
#Y también podemos generar una serie con un valor por defecto:
serie3 = pd.Series(45, index=[0, 1, 2, 3, 4, 5])
serie3

0    45
1    45
2    45
3    45
4    45
5    45
dtype: int64

In [45]:
#Data Frames
#Los data frames podrían verse como matrices de datos de 2 dimensiones, de igual forma cada dimensión es tratado como una serie en sí misma
#Antes de generar un data frame, veamos que más nos ofrece pandas:
dates = pd.date_range('20190729', periods = 7)
dates

DatetimeIndex(['2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01',
               '2019-08-02', '2019-08-03', '2019-08-04'],
              dtype='datetime64[ns]', freq='D')

In [46]:
#Como vemos nos permite generar conjuntos de datos muy fácilmente
#Ahora combinemos el uso de numpy con Pandas para generar un data frame con datos aleatorios utilizando las fechas generadas anteriormente:
import numpy as np
df = pd.DataFrame(np.random.rand(7, 3), index=dates, columns=list('ABC'))
df

                   A         B         C
2019-07-29  0.073322  0.711188  0.489435
2019-07-30  0.974918  0.591762  0.457086
2019-07-31  0.062658  0.100376  0.303757
2019-08-01  0.791846  0.788536  0.971096
2019-08-02  0.650715  0.428786  0.293250
2019-08-03  0.689960  0.800440  0.011219
2019-08-04  0.284371  0.911523  0.723287

In [47]:
#El ejemplo anterior nos generó un data frame de 7 filas y 3 columnas cuyos índices corresponde a las fechas generadas y con datos aleatorios para cada columna
#Si queremos acceder a alguno de esos datos por su índice:
df.loc['2019-08-02']

A    0.650715
B    0.428786
C    0.293250
Name: 2019-08-02 00:00:00, dtype: float64

In [48]:
#A pesar de que tenemos índices definidos pandas mantiene la numeración de cada fila, por lo que también podríamos acceder los datos de esta forma:
df.iloc[4]

A    0.650715
B    0.428786
C    0.293250
Name: 2019-08-02 00:00:00, dtype: float64

In [49]:
#iloc implica índices del tipo Integer
#Si queremos acceder a una columna en específico:
print(df.loc['2019-08-02', 'A'])
print(df.iloc[4, 0])

0.6507149632962115
0.6507149632962115

In [50]:
#También podemos extraer columnas enteras del data frame:
df['A']

2019-07-29    0.073322
2019-07-30    0.974918
2019-07-31    0.062658
2019-08-01    0.791846
2019-08-02    0.650715
2019-08-03    0.689960
2019-08-04    0.284371
Freq: D, Name: A, dtype: float64

In [51]:
#Nótese como pandas nos trae la columna referenciadas incluyenlo los índices, pero si solo quisiéramos los datos:
df['A'].values

array([0.07332183, 0.97491839, 0.06265775, 0.7918465 , 0.65071496,
       0.68996014, 0.28437146])

In [52]:
#También podemos obtener estadísticas sobre el data frame, pandas lo devuelve columna por columna:
df.describe()

              A         B         C
count  7.000000  7.000000  7.000000
mean   0.503970  0.618944  0.464162
std    0.362682  0.277376  0.312227
min    0.062658  0.100376  0.011219
25%    0.178847  0.510274  0.298504
50%    0.650715  0.711188  0.457086
75%    0.740903  0.794488  0.606361
max    0.974918  0.911523  0.971096

In [53]:
#De esta forma podemos ejecutar operaciones sobre los datos más rápidamente tratabdo las columnas cual si fueran series de datos independientes:
dfSuma = df['A'].add(df['B'])
dfSuma

2019-07-29    0.784510
2019-07-30    1.566681
2019-07-31    0.163034
2019-08-01    1.580382
2019-08-02    1.079501
2019-08-03    1.490401
2019-08-04    1.195894
Freq: D, dtype: float64

In [54]:
dfOtro = df['A'] * 5+2
dfOtro

2019-07-29    2.366609
2019-07-30    6.874592
2019-07-31    2.313289
2019-08-01    5.959232
2019-08-02    5.253575
2019-08-03    5.449801
2019-08-04    3.421857
Freq: D, Name: A, dtype: float64

In [55]:
#También podemos pre-procesar los datos de acuerdo a nuestras reglas, por ejemplo reemplazar todos los valores menores a 0.5 con 0.5
df[df < 0.5] = 0.5
df

                   A         B         C
2019-07-29  0.500000  0.711188  0.500000
2019-07-30  0.974918  0.591762  0.500000
2019-07-31  0.500000  0.500000  0.500000
2019-08-01  0.791846  0.788536  0.971096
2019-08-02  0.650715  0.500000  0.500000
2019-08-03  0.689960  0.800440  0.500000
2019-08-04  0.500000  0.911523  0.723287

In [56]:
#Reemplazar valores mayores a 0.7 en columna A por NaN
df['A'][df['A'] > 0.7] = np.NaN
df

                   A         B         C
2019-07-29  0.500000  0.711188  0.500000
2019-07-30       NaN  0.591762  0.500000
2019-07-31  0.500000  0.500000  0.500000
2019-08-01       NaN  0.788536  0.971096
2019-08-02  0.650715  0.500000  0.500000
2019-08-03  0.689960  0.800440  0.500000
2019-08-04  0.500000  0.911523  0.723287

In [59]:
#Suma de las columnas
print(df.sum())

A    2.840675
B    4.803449
C    4.194383
dtype: float64

In [62]:
#Finalmente, pandas también nos permite ojear los datos, por ejemplo el inicio del data set o el final:
print(df.head(2))  #Ver los primeros 3 datos, si no se pasa el argumento por defecto devuelve los primeros 5
print(df.tail(2))

              A         B    C
2019-07-29  0.5  0.711188  0.5
2019-07-30  NaN  0.591762  0.5
                  A         B         C
2019-08-03  0.68996  0.800440  0.500000
2019-08-04  0.50000  0.911523  0.723287