<a href="https://colab.research.google.com/github/scmaverick/DataScienceTEC/blob/master/BigData/Tarea1/Tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***CENFOTEC***

Big Data - Especialidad Ciencia de Datos

25 de Noviembre, 2019

*Estudiante: Sergio Castillo Segura*

##Tarea 1


El siguiente notebook introduce el uso de Spark con un dataset convencional, el dataset representa las rentas disponibles en Airbnb del estado de Nueva York.

El objetivo del estudio será obtener la siguiente información:

- Comprender un dataset y cargarlo en memoria utilizando Spark
- Aprender a hacer limpieza de datos con Spark
- Aprender a utilizar consultas estilo where con código nativo


###Descripción del dataset
AB_NYC_2019.csv (6.75 MB), 16 columnas:

id - listing ID

name - name of the listing

host_id - host ID

host_name - name of the host

neighbourhood_group - location

neighbourhood - area

latitude - latitude coordinates

longitude - longitude coordinates

room_type - listing space type

price - price in dollars

minimum_nights - amount of nights minimum

number_of_reviews - number of reviews

last_review - latest review

reviews_per_month - number of reviews per month

calculated_host_listings_count - amount of listing per host

availability_365 - number of days when listing is available for booking

In [0]:
#Instalamos y preparamos todo el ambiente con Java y Spark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
#Importamos las librerías necesarias para el trabajo
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from datetime import datetime
from pyspark.sql.functions import *
from pyspark.sql.types import *

##Carga del dataset y casteo

In [0]:
#Cargamos el dataset en memoria de Spark
from pyspark import SparkFiles
spark.sparkContext.addFile("https://raw.githubusercontent.com/scmaverick/DataScienceTEC/master/BigData/Tarea1/AB_NYC_2019.csv")
df = spark.read.csv(SparkFiles.get("AB_NYC_2019.csv"), header=True, inferSchema=True)

In [105]:
#Revisamos el esquema cargado inicialmente
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: integer (nullable = true)

In [106]:
#Todas las columnas son string, pasamos las correspondientes a los tipos apropiados
df = df.withColumn('price', df['price'].cast('Float'))
df = df.withColumn('latitude', df['latitude'].cast('Float'))
df = df.withColumn('longitude', df['longitude'].cast('Float'))
df = df.withColumn('minimum_nights', df['minimum_nights'].cast('Int'))
df = df.withColumn('number_of_reviews', df['number_of_reviews'].cast('Int'))
df = df.withColumn('reviews_per_month', df['reviews_per_month'].cast('Float'))
df = df.withColumn('calculated_host_listings_count', df['calculated_host_listings_count'].cast('Int'))
df = df.withColumn('availability_365', df['availability_365'].cast('Int'))
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: float (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: float (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)

In [107]:
#Revisamos los primeros 10 valores
df.show(10)

+----+--------------------+-------+-----------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|  host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+-----------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|       John|           Brooklyn|        Kensington|40.64749|-73.97237|   Private room|149.0|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|   Jennifer|          Manhattan|           Midtown|40.75362|-73.98377|Entire home/apt|225.0|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|  Elisabeth|          Manhattan|            Harlem|40.80902| -73.9419|   Private room|150.0|             3|                0|       null|             null|                             1|             365|
|3831|Cozy Entire Floor...|   4869|LisaRoxanne|           Brooklyn|      Clinton Hill|40.68514|-73.95976|Entire home/apt| 89.0|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5022|Entire Apt: Spaci...|   7192|      Laura|          Manhattan|       East Harlem|40.79851|-73.94399|Entire home/apt| 80.0|            10|                9| 2018-11-19|              0.1|                             1|               0|
|5099|Large Cozy 1 BR A...|   7322|      Chris|          Manhattan|       Murray Hill|40.74767|  -73.975|Entire home/apt|200.0|             3|               74| 2019-06-22|             0.59|                             1|             129|
|5121|     BlissArtsSpace!|   7356|      Garon|           Brooklyn|Bedford-Stuyvesant|40.68688|-73.95596|   Private room| 60.0|            45|               49| 2017-10-05|              0.4|                             1|               0|
|5178|Large Furnished R...|   8967|   Shunichi|          Manhattan|    Hell's Kitchen|40.76489|-73.98493|   Private room| 79.0|             2|              430| 2019-06-24|             3.47|                             1|             220|
|5203|Cozy Clean Guest ...|   7490|  MaryEllen|          Manhattan|   Upper West Side|40.80178|-73.96723|   Private room| 79.0|             2|              118| 2017-07-21|             0.99|                             1|               0|
|5238|Cute & Cozy Lower...|   7549|        Ben|          Manhattan|         Chinatown|40.71344|-73.99037|Entire home/apt|150.0|             1|              160| 2019-06-09|             1.33|                             4|             188|
+----+--------------------+-------+-----------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 10 rows

##Limpieza de datos
Agregamos algunas funciones para la limpieza de los datos:

In [108]:
#Revisamos si todos los precios estan correctamente indicados, pues puede que haya algunas propiedades con valores invalidos
df.filter(df['price'] <= 0).show()

+---------+--------------------+-----------+--------------------+-------------------+------------------+--------+---------+---------------+---------+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|       id|                name|    host_id|           host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|    price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+---------+--------------------+-----------+--------------------+-------------------+------------------+--------+---------+---------------+---------+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
| 18750597|Huge Brooklyn Bro...|    8993084|            Kimberly|           Brooklyn|Bedford-Stuyvesant|40.69023|-73.95428|   Private room|      0.0|             4|                1| 2018-01-06|             0.05|                             4|              28|
| 20333471|★Hostel Style Roo...|  131697576|              Anisha|              Bronx|   East Morrisania|40.83296|-73.88668|   Private room|      0.0|             2|               55| 2019-06-24|             2.56|                             4|             127|
| 20523843|MARTIAL LOFT 3: R...|   15787004|        Martial Loft|           Brooklyn|          Bushwick|40.69467|-73.92433|   Private room|      0.0|             2|               16| 2019-05-18|             0.71|                             5|               0|
| 20608117|Sunny, Quiet Room...|    1641537|              Lauren|           Brooklyn|        Greenpoint|40.72462|-73.94072|   Private room|      0.0|             2|               12| 2017-10-27|             0.53|                             2|               0|
| 20624541|Modern apartment ...|   10132166|             Aymeric|           Brooklyn|      Williamsburg|40.70838|-73.94645|Entire home/apt|      0.0|             5|                3| 2018-01-02|             0.15|                             1|              73|
| 20639628|Spacious comforta...|   86327101|             Adeyemi|           Brooklyn|Bedford-Stuyvesant|40.68173|-73.91342|   Private room|      0.0|             1|               93| 2019-06-15|             4.28|                             6|             176|
| 20639792|Contemporary bedr...|   86327101|             Adeyemi|           Brooklyn|Bedford-Stuyvesant|40.68279| -73.9117|   Private room|      0.0|             1|               95| 2019-06-21|             4.37|                             6|             232|
| 20639914|Cozy yet spacious...|   86327101|             Adeyemi|           Brooklyn|Bedford-Stuyvesant|40.68258|-73.91284|   Private room|      0.0|             1|               95| 2019-06-23|             4.35|                             6|             222|
| 20933849|the best you can ...|   13709292|              Qiuchi|          Manhattan|       Murray Hill|40.75091|-73.97597|Entire home/apt|      0.0|             3|                0|       null|             null|                             1|               0|
| 21291569|Coliving in Brook...|  101970559|              Sergii|           Brooklyn|          Bushwick|40.69211| -73.9067|    Shared room|      0.0|            30|                2| 2019-06-22|             0.11|                             6|             333|
| 21304320|Best Coliving spa...|  101970559|              Sergii|           Brooklyn|          Bushwick|40.69166|-73.90928|    Shared room|      0.0|            30|                5| 2019-05-24|             0.26|                             6|             139|
|Chinatown|                Soho|LittleItaly|                LES"|          197400421|               Ben|    null|     null|       40.71509|-73.99986|          null|              100|         25|              0.0|                          null|            null|
| 33780377| """Sea Gate"" Sunny|       cozy| very clean studi...|          194716858|              Greg|    null|     null|       40.57453|-74.00828|          null|              125|         10|              1.0|                          null|               1|
+---------+--------------------+-----------+--------------------+-------------------+------------------+--------+---------+---------------+---------+--------------+-----------------+-----------+-----------------+------------------------------+----------------+

In [109]:
#Eliminamos todas las entradas cuyo precio sea menor o igual a 0
df = df.filter(df['price'] > 0)
df.filter(df['price'] <= 0).show()

+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
| id|name|host_id|host_name|neighbourhood_group|neighbourhood|latitude|longitude|room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+

In [110]:
#Filtramos propiedades que no estén disponibles durante el año
print("Antes: ", df.count())
df = df.filter(df['availability_365'] > 0)
print("Después: ", df.count())

Antes:  48874
Después:  31210

##Análisis
Comenzamos el análisis de los datos con algunas operaciones básicas:

- Listar el top 20 de las localidades con mayor número de propiedades en renta
- Conseguir el top 20 de precio promedio de la renta por localidad
- Top 20 de las propiedades más caras
- El precio de las propiedades más caras por localidad

In [111]:
#Top 20 de las localidades con mayor número de propiedades en renta
df.groupby('neighbourhood_group').count().orderBy(desc('count')).show()

+-------------------+-----+
|neighbourhood_group|count|
+-------------------+-----+
|          Manhattan|13498|
|           Brooklyn|12214|
|             Queens| 4268|
|              Bronx|  902|
|      Staten Island|  328|
+-------------------+-----+

In [90]:
#Top 20 de precio promedio de la renta por localidad
df.groupBy('neighbourhood_group').agg(mean('price')).orderBy(desc('avg(price)')).show(15)

+-------------------+------------------+
|neighbourhood_group|        avg(price)|
+-------------------+------------------+
|          Manhattan|214.06386131278708|
|           Brooklyn|132.95742590469953|
|      Staten Island| 114.4298780487805|
|             Queens|100.13753514526711|
|              Bronx| 89.40243902439025|
+-------------------+------------------+

In [91]:
#Top 20 de las propiedades más caras
df.orderBy(desc('price')).show(20)

+--------+--------------------+---------+-----------+-------------------+------------------+--------+---------+---------------+-------+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|      id|                name|  host_id|  host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|  price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+--------+--------------------+---------+-----------+-------------------+------------------+--------+---------+---------------+-------+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|22436899| 1-BR Lincoln Center| 72390391|     Jelena|          Manhattan|   Upper West Side|40.77213|-73.98665|Entire home/apt|10000.0|            30|                0|       null|             null|                             1|              83|
| 9528920|Quiet, Clean, Lit...|  3906464|        Amy|          Manhattan|   Lower East Side|40.71355|-73.98507|   Private room| 9999.0|            99|                6| 2016-01-01|             0.14|                             1|              83|
|31340283|2br - The Heart o...|  4382127|       Matt|          Manhattan|   Lower East Side| 40.7198|-73.98566|Entire home/apt| 9999.0|            30|                0|       null|             null|                             1|             365|
|23377410|Beautiful/Spaciou...| 18128455|        Rum|          Manhattan|           Tribeca|40.72197|-74.00633|Entire home/apt| 8500.0|            30|                2| 2018-09-18|             0.18|                             1|             251|
| 2953058|       Film Location|  1177497|    Jessica|           Brooklyn|      Clinton Hill|40.69137|-73.96723|Entire home/apt| 8000.0|             1|                1| 2016-09-15|             0.03|                            11|             365|
|22779726|East 72nd Townhou...|156158778|      Sally|          Manhattan|   Upper East Side|40.76824|-73.95989|Entire home/apt| 7703.0|             1|                0|       null|             null|                            12|             146|
|34895693|Gem of east Flatbush|262534951|     Sandra|           Brooklyn|     East Flatbush|40.65724| -73.9245|   Private room| 7500.0|             1|                8| 2019-07-07|             6.15|                             2|             179|
|33007610|70' Luxury MotorY...|  7407743|       Jack|          Manhattan| Battery Park City|40.71162|-74.01693|Entire home/apt| 7500.0|             1|                0|       null|             null|                             1|             364|
|33998396|3000 sq ft daylig...|  3750764|      Kevin|          Manhattan|           Chelsea| 40.7506|-74.00388|Entire home/apt| 6800.0|             1|                0|       null|             null|                             6|             364|
|36056808|Luxury TriBeCa Ap...|271248669|      Jenny|          Manhattan|           Tribeca|40.71206|-74.00999|Entire home/apt| 6500.0|           180|                0|       null|             null|                             1|             365|
|22780103|Park Avenue Mansi...|156158778|      Sally|          Manhattan|   Upper East Side|40.78517| -73.9527|Entire home/apt| 6419.0|             1|                0|       null|             null|                            12|              45|
| 2110145|UWS 1BR w/backyar...|  2151325|Jay And Liz|          Manhattan|   Upper West Side|40.77782|-73.97848|Entire home/apt| 6000.0|            14|               17| 2015-02-17|             0.27|                             1|             359|
|33397385|Midtown Manhattan...| 16105313|      Debra|          Manhattan|           Midtown|40.74482|-73.98367|Entire home/apt| 5100.0|            30|                1| 2019-06-22|              1.0|                             2|             343|
| 2919330|NearWilliamsburg ...| 14908606|     Bianca|           Brooklyn|Bedford-Stuyvesant|40.69572|-73.95731|   Private room| 5000.0|             6|               10| 2016-01-02|             0.16|                             1|             363|
| 1448703|Beautiful 1 Bedro...|   213266|    Jessica|          Manhattan|            Nolita|40.72193|-73.99379|Entire home/apt| 5000.0|             1|                2| 2013-09-28|             0.03|                             1|             365|
|30035166|4-Floor Unique Ev...|172611460|     Rasmus|          Manhattan|            Harlem|40.82511|-73.94961|Entire home/apt| 5000.0|             1|                2| 2019-02-23|             0.38|                             2|             150|
|18051877|Victorian Film lo...|  2675644|     Alissa|      Staten Island|     Randall Manor|40.63952| -74.0973|Entire home/apt| 5000.0|             1|                0|       null|             null|                             1|             344|
|35345358|Northside William...|   956324|       Alex|           Brooklyn|      Williamsburg|40.71705| -73.9647|Entire home/apt| 4500.0|            30|                0|       null|             null|                             1|             365|
| 2952861|Photography Location|  1177497|    Jessica|           Brooklyn|      Clinton Hill|40.69127|-73.96563|Entire home/apt| 4500.0|             1|                5| 2018-12-29|             0.09|                            11|             365|
|33796251|Beautiful private...|  8748976|    Jeffrey|           Brooklyn|Bedford-Stuyvesant|40.68807|-73.95426|   Private room| 4200.0|           114|                0|       null|             null|                             1|             347|
+--------+--------------------+---------+-----------+-------------------+------------------+--------+---------+---------------+-------+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows

In [92]:
#Listar los precios más altos por localidad
df.groupby('neighbourhood_group').agg(max('price')).orderBy(desc('max(price)')).show(20)

+-------------------+----------+
|neighbourhood_group|max(price)|
+-------------------+----------+
|          Manhattan|   10000.0|
|           Brooklyn|    8000.0|
|      Staten Island|    5000.0|
|             Queens|    2600.0|
|              Bronx|    2500.0|
+-------------------+----------+

Como se puede verificar anteriormente, se obtuvieron los siguientes resultados:
- Manhattan, Brooklyn y Queens son de las localidades con mayor número de propiedades en renta.
- El precio promedio de la renta en es:
    * Manhattan: $214

    * Brooklyn: $133

    * Staten Island: $114
- Las propiedades más caras se encuentran en el Upper West Side y el Lower East Side de Manhattan.
- Las propiedades más caras están en los $10000 por noche.

##Procesamiento

In [112]:
#Pasar los nombres de los hosts a minusculas
df = df.withColumn('host_name', lower(col('host_name')))
df.show()

+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|       host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|            john|           Brooklyn|        Kensington|40.64749|-73.97237|   Private room|149.0|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|        jennifer|          Manhattan|           Midtown|40.75362|-73.98377|Entire home/apt|225.0|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|       elisabeth|          Manhattan|            Harlem|40.80902| -73.9419|   Private room|150.0|             3|                0|       null|             null|                             1|             365|
|3831|Cozy Entire Floor...|   4869|     lisaroxanne|           Brooklyn|      Clinton Hill|40.68514|-73.95976|Entire home/apt| 89.0|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5099|Large Cozy 1 BR A...|   7322|           chris|          Manhattan|       Murray Hill|40.74767|  -73.975|Entire home/apt|200.0|             3|               74| 2019-06-22|             0.59|                             1|             129|
|5178|Large Furnished R...|   8967|        shunichi|          Manhattan|    Hell's Kitchen|40.76489|-73.98493|   Private room| 79.0|             2|              430| 2019-06-24|             3.47|                             1|             220|
|5238|Cute & Cozy Lower...|   7549|             ben|          Manhattan|         Chinatown|40.71344|-73.99037|Entire home/apt|150.0|             1|              160| 2019-06-09|             1.33|                             4|             188|
|5295|Beautiful 1br on ...|   7702|            lena|          Manhattan|   Upper West Side|40.80316|-73.96545|Entire home/apt|135.0|             5|               53| 2019-06-22|             0.43|                             1|               6|
|5441|Central Manhattan...|   7989|            kate|          Manhattan|    Hell's Kitchen|40.76076|-73.98867|   Private room| 85.0|             2|              188| 2019-06-23|              1.5|                             1|              39|
|5803|Lovely Room 1, Ga...|   9744|          laurie|           Brooklyn|       South Slope|40.66829|-73.98779|   Private room| 89.0|             4|              167| 2019-06-24|             1.34|                             3|             314|
|6021|Wonderful Guest B...|  11528|         claudio|          Manhattan|   Upper West Side|40.79826|-73.96113|   Private room| 85.0|             2|              113| 2019-07-05|             0.91|                             1|             333|
|6848|Only 2 stops to M...|  15991|   allen & irina|           Brooklyn|      Williamsburg|40.70837|-73.95352|Entire home/apt|140.0|             2|              148| 2019-06-29|              1.2|                             1|              46|
|7097|Perfect for Your ...|  17571|            jane|           Brooklyn|       Fort Greene|40.69169|-73.97185|Entire home/apt|215.0|             2|              198| 2019-06-28|             1.72|                             1|             321|
|7322|     Chelsea Perfect|  18946|            doti|          Manhattan|           Chelsea|40.74192|-73.99501|   Private room|140.0|             1|              260| 2019-07-01|             2.12|                             1|              12|
|7726|Hip Historic Brow...|  20950|adam and charity|           Brooklyn|     Crown Heights|40.67592|-73.94694|Entire home/apt| 99.0|             3|               53| 2019-06-22|             4.44|                             1|              21|
|7750|Huge 2 BR Upper E...|  17985|            sing|          Manhattan|       East Harlem|40.79685|-73.94872|Entire home/apt|190.0|             7|                0|       null|             null|                             2|             249|
|8024|CBG CtyBGd HelpsH...|  22486|           lisel|           Brooklyn|        Park Slope|40.68069|-73.97706|   Private room|130.0|             2|              130| 2019-07-01|             1.09|                             6|             347|
|8025|CBG Helps Haiti R...|  22486|           lisel|           Brooklyn|        Park Slope|40.67989|-73.97798|   Private room| 80.0|             1|               39| 2019-01-01|             0.37|                             6|             364|
|8110|CBG Helps Haiti R...|  22486|           lisel|           Brooklyn|        Park Slope|40.68001|-73.97865|   Private room|110.0|             2|               71| 2019-07-02|             0.61|                             6|             304|
|8490|MAISON DES SIRENE...|  25183|        nathalie|           Brooklyn|Bedford-Stuyvesant|40.68371|-73.94028|Entire home/apt|120.0|             2|               88| 2019-06-19|             0.73|                             2|             233|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows

In [118]:
#Eliminar espacios al inicio y final del nombre
df = df.withColumn("name", ltrim(df["name"]))
df.show()

+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|       host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|            john|           Brooklyn|        Kensington|40.64749|-73.97237|   Private room|149.0|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|        jennifer|          Manhattan|           Midtown|40.75362|-73.98377|Entire home/apt|225.0|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|       elisabeth|          Manhattan|            Harlem|40.80902| -73.9419|   Private room|150.0|             3|                0|       null|             null|                             1|             365|
|3831|Cozy Entire Floor...|   4869|     lisaroxanne|           Brooklyn|      Clinton Hill|40.68514|-73.95976|Entire home/apt| 89.0|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5099|Large Cozy 1 BR A...|   7322|           chris|          Manhattan|       Murray Hill|40.74767|  -73.975|Entire home/apt|200.0|             3|               74| 2019-06-22|             0.59|                             1|             129|
|5178|Large Furnished R...|   8967|        shunichi|          Manhattan|    Hell's Kitchen|40.76489|-73.98493|   Private room| 79.0|             2|              430| 2019-06-24|             3.47|                             1|             220|
|5238|Cute & Cozy Lower...|   7549|             ben|          Manhattan|         Chinatown|40.71344|-73.99037|Entire home/apt|150.0|             1|              160| 2019-06-09|             1.33|                             4|             188|
|5295|Beautiful 1br on ...|   7702|            lena|          Manhattan|   Upper West Side|40.80316|-73.96545|Entire home/apt|135.0|             5|               53| 2019-06-22|             0.43|                             1|               6|
|5441|Central Manhattan...|   7989|            kate|          Manhattan|    Hell's Kitchen|40.76076|-73.98867|   Private room| 85.0|             2|              188| 2019-06-23|              1.5|                             1|              39|
|5803|Lovely Room 1, Ga...|   9744|          laurie|           Brooklyn|       South Slope|40.66829|-73.98779|   Private room| 89.0|             4|              167| 2019-06-24|             1.34|                             3|             314|
|6021|Wonderful Guest B...|  11528|         claudio|          Manhattan|   Upper West Side|40.79826|-73.96113|   Private room| 85.0|             2|              113| 2019-07-05|             0.91|                             1|             333|
|6848|Only 2 stops to M...|  15991|   allen & irina|           Brooklyn|      Williamsburg|40.70837|-73.95352|Entire home/apt|140.0|             2|              148| 2019-06-29|              1.2|                             1|              46|
|7097|Perfect for Your ...|  17571|            jane|           Brooklyn|       Fort Greene|40.69169|-73.97185|Entire home/apt|215.0|             2|              198| 2019-06-28|             1.72|                             1|             321|
|7322|     Chelsea Perfect|  18946|            doti|          Manhattan|           Chelsea|40.74192|-73.99501|   Private room|140.0|             1|              260| 2019-07-01|             2.12|                             1|              12|
|7726|Hip Historic Brow...|  20950|adam and charity|           Brooklyn|     Crown Heights|40.67592|-73.94694|Entire home/apt| 99.0|             3|               53| 2019-06-22|             4.44|                             1|              21|
|7750|Huge 2 BR Upper E...|  17985|            sing|          Manhattan|       East Harlem|40.79685|-73.94872|Entire home/apt|190.0|             7|                0|       null|             null|                             2|             249|
|8024|CBG CtyBGd HelpsH...|  22486|           lisel|           Brooklyn|        Park Slope|40.68069|-73.97706|   Private room|130.0|             2|              130| 2019-07-01|             1.09|                             6|             347|
|8025|CBG Helps Haiti R...|  22486|           lisel|           Brooklyn|        Park Slope|40.67989|-73.97798|   Private room| 80.0|             1|               39| 2019-01-01|             0.37|                             6|             364|
|8110|CBG Helps Haiti R...|  22486|           lisel|           Brooklyn|        Park Slope|40.68001|-73.97865|   Private room|110.0|             2|               71| 2019-07-02|             0.61|                             6|             304|
|8490|MAISON DES SIRENE...|  25183|        nathalie|           Brooklyn|Bedford-Stuyvesant|40.68371|-73.94028|Entire home/apt|120.0|             2|               88| 2019-06-19|             0.73|                             2|             233|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows